project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.target/
bin/
.DS_Store
*.iml
app_home_IS_UNDEFINED/
**/log
**/log.dir_IS_UNDEFINED/